[submodule "RLBotCPP"]
	path = RLBotCPP
	url = https://github.com/kipje13/RLBotCPP.git
[submodule "RLUtilities"]
	path = RLUtilities
	url = https://github.com/samuelpmish/RLUtilities.git
	branch = develop
