CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
.idea
.vscode
cmake-build-*
build
rlbot/__pycache__
rlbot/assets